html, body {
    margin: 0;
    padding: 0;
    background-color: #000C36;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: #FFFFFF;
    font-family: Roboto Slab, sans-serif;
    font-size: 2.5vh; /* Responsive font size based on viewport height */
    text-align: center;
    margin: 0;
}

.container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column; /* Stack .item and button vertically */
    align-items: center; /* Center horizontally */
    justify-content: space-evenly; /* Distribute space evenly between items */
    box-sizing: border-box; /* Include padding in the width/height calculation */
    padding: 2vh 2vw; /* Responsive padding */
}

.item {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center horizontally */
    text-align: center;
    flex: 1; /* Make the .item proportionally take space */
    justify-content: space-evenly; /* Distribute content inside the .item */
    height: 10vh;
    width: 100%; /* Ensure it spans the full width of the container */
    padding-bottom: 2vh;
}

.loader {
    width: 15%; /* Scale icon based on viewport width */
    height: auto;
    margin-bottom: 1 vh; /* Use viewport-relative spacing */
}

.bottom {
    height: 10%
}

#icon {
    width: auto; /* Scale icon based on viewport width */
    height: 20vh;
    margin-bottom: 1 vh; /* Use viewport-relative spacing */
}

#title {
    width: auto; /* Scale title based on viewport width */
    max-width: 100%;
    height: 20vh;
    margin-bottom: 1vh;
}

#resultOutput {
    height: 50vh;
    font-size: 0.85rem;
    color: white;
}

textarea.inputField {
    width: 80%; /* Responsive width */
    height: 11vh; /* Adjust for more lines */
    padding: 0.75vh; /* Responsive padding */
    font-size: 3vh; /* Responsive font size */
    background-color: #3B4877;
    color: #05060C;
    border: none;
    resize: none; /* Prevent resizing if needed */

    /* Allow line breaks */
    white-space: pre-wrap; /* Preserve spacing and line breaks */
    overflow-wrap: break-word; /* Break long words */
}

textarea.inputField:focus {
    color: #FFFFFF;
}

button {
    padding: 1vh 2vw; /* Responsive button size */
    background-color: #51E08A;
    color: white;
    font-size: 5vh; /* Responsive font size */
    font-family: Roboto Slab, sans-serif;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    height: 10vh;
    Width: 80%;
}

button:hover {
    background-color: #4682B4; /* Change color on hover */
}